DATABASE_URL='postgresql://neondb_owner:npg_GPlzMUeqYc90@ep-divine-night-ayusvo5x.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET=tAok5lOa5g2zy/Espkgzfkod+vN+0/GbwdN9Nq+YXGc=